.dt-badge {
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;

    min-width: 98px;
    height: 32px;
    padding: 5px 14px !important;

    border-radius: 20px !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    line-height: 1 !important;
    text-align: center !important;
}

/* Active */
.dt-badge-active {
    color: #008f68 !important;
    background: #effcf7 !important;
    border: 1px solid #9adfc7 !important;
}

/* Inactive */
.dt-badge-inactive {
    color: #4b5563 !important;
    background: #f3f6f9 !important;
    border: 1px solid #dfe6ed !important;
}

/* Deleted */
.dt-badge-deleted {
    color: #b45353 !important;
    background: #fff1f1 !important;
    border: 1px solid #efcaca !important;
}